{% extends "base.html" %}

{% block title %}Recorded - {{ super() }}{% endblock %}

{% block page_content %}
  <div class="page-header">
    <h1>Recorded</h1>
  </div>
  {{ program_macros.render_programs(programs, True, True, False, 'delete_program', False, today, now, transcoded, True) }}
  <div class="modal fade" id="modalDeleteProgram" tabindex="-1" role="dialog" aria-labelledby="modalDeleteProgramLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="modalDeleteProgramLabel">Delete</h4>
        </div>
        <div id="modalDeleteProgramBody" class="modal-body">
          <table style="width:100%">
            <tbody>
              <tr>
                <td id="modalDeleteProgramTitle" style="width:50%;vertical-align:top;"></td>
                <td id="modalDeleteProgramEpisode" style="width:50%;vertical-align:top;"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button id="modalDeleteProgramButton" style="background-color:OrangeRed" type="button" class="btn btn-primary">Delete</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
$( document ).ready(function() {
    MythSchedMini.startReloadTimer();
    $('.menucell').on('mouseover', function(e) {
        $( this ).css('width', '50px');
//        $( this ).css('background', 'red');
        $( this ).children().css('display', 'block');
    });
    $('.menucell').mouseout(function() {
        $( this ).css('width', '3px');
        $( this ).css('background', 'Gainsboro');
        $( this ).children().css('display', 'none');
    });
    clickDeleteButton = function(self, chanid, starttime) {
        MythSchedMini.SUSPEND = true;
        $('#modalDeleteProgramButton').click(function(e) {
            window.location = '/deleteProgram?chanid=' + chanid + '&starttime=' + starttime;
        });
        var row = $( self ).parent().parent();
        var program_title = $( row ).find('.program_title')[0];
        var program_subtitle = $( row ).find('.program_subtitle')[0];
        
        $('#modalDeleteProgramTitle').html($(program_title).html());
        $('#modalDeleteProgramEpisode').html($(program_subtitle).html());
    };
});
</script>
{% endblock %}
